<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean name="speakerRepository"
        class="info.shelfunit.repository.HibernateSpeakerRepositoryImpl">
    </bean>

    <bean name="speakerService"
          class="info.shelfunit.service.SpeakerServiceImpl"
          autowire="byType">
        <!-- the "autowire" above is for autowiring
        "constructor" for constructor injection, "byName" or "byType" for setter injection
          -->
        <!-- constructor injection -->
        <!-- <constructor-arg index="0" ref="speakerRepository" /> -->
        <!-- setter injection -->
        <!-- <property name="speakerRepository" ref="speakerRepository" /> -->
    </bean>

</beans>
